.counter-container {
    text-align: center;
    margin-top: 50px;
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:nth-child(1) {
    background-color: green;
    color: white;
  }
  
  button:nth-child(2) {
    background-color: red;
    color: white;
  }
  
  button:nth-child(3) {
    background-color: blue;
    color: white;
  }
  
 .button-disabled{
    background-color: grey !important;
    cursor:not-allowed;
 }